body {
  background-color: #21232E;
  color: #fff; }

main {
  margin: 40px auto;
  width: 960px; }

.header {
  background: url("../img/m-h-night.jpg") center center no-repeat;
  border-bottom-right-radius: 790px 280px;
  height: 590px;
  font-family: 'Hind', sans-serif;
  background-size: cover; }
  .header .header-wrap {
    width: 85%;
    margin: 0 auto; }
    .header .header-wrap .header_heading {
      padding: 0px;
      line-height: 73px;
      margin: 25px 0px 15px -7px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 60px;
      font-weight: 900;
      max-width: 550px;
      margin-bottom: 24px;
      position: relative;
      z-index: 1;
      line-height: 1; }
      .header .header-wrap .header_heading::after {
        content: '';
        position: absolute;
        background: #FF4E33;
        width: 250px;
        height: 40px;
        top: 75px;
        left: 0px;
        z-index: -1; }

.header_text {
  white-space: pre-line;
  font-size: 12px; }

.landing-logo, .footer .landing-logo {
  display: flex;
  align-items: center; }
  .landing-logo img, .footer .landing-logo img {
    width: 40px;
    height: 40px; }
  .landing-logo p, .footer .landing-logo p {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    font-family: "Fresca", sans-serif;
    line-height: 20px; }
  .landing-logo span, .footer .landing-logo span {
    font-size: 10px; }

.header_button {
  width: 120px;
  height: 40px;
  background-color: #E3AC00;
  border: none;
  border-radius: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px; }

.section_banner_button {
  width: 120px;
  height: 40px;
  background-color: #E3AC00;
  border: none;
  border-radius: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 0; }

.login {
  margin-left: 120px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px; }

.section_text {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42px;
  font-weight: 600;
  position: relative;
  margin: 0 auto 37px;
  color: #fff;
  z-index: 1; }
  .section_text::after {
    content: '';
    position: absolute;
    background: #FF4E33;
    width: 185px;
    height: 50px;
    top: -6px;
    left: 490px;
    z-index: -1; }

.section_card_wrap {
  margin-bottom: 140px; }

.section_card {
  background: #3B3F50;
  display: flex;
  align-items: center;
  max-width: 1116px;
  margin: 0 auto 25px;
  padding: 20px;
  border-radius: 6px; }
  .section_card .section_card_img {
    width: 60%;
    border-radius: 6px; }
  .section_card .section_card_right_container {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 17px 90px 0; }
  .section_card .section_card_heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px; }
  .section_card .section_card_text {
    font-family: "Fresca", sans-serif;
    color: #BBBEC9;
    text-align: left;
    margin-bottom: 24px;
    font-size: 18px; }
  .section_card .section_link {
    color: #BBBEC9; }

.section_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 161px;
  max-width: 1198px;
  margin: 0 auto;
  background: linear-gradient(to right, #e0a504 0%, #97344d 100%);
  border-radius: 6px;
  position: relative; }
  .section_banner .section_banner_heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 16px;
    position: relative;
    z-index: 1; }
    .section_banner .section_banner_heading::after {
      content: '';
      position: absolute;
      background: #FF4E33;
      width: 64px;
      height: 50px;
      top: -11px;
      left: 121px;
      z-index: -1; }
  .section_banner .section_banner_text {
    color: #BBBEC9;
    font-size: 17px;
    font-family: "Fresca", sans-serif; }

.footer {
  background: #3B3F50;
  margin-top: -73px;
  padding-top: 50px;
  padding-bottom: 59px; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1565px;
    margin: 0 auto;
    padding: 0 15px;
    color: #BBBEC9; }
  .footer .landing-logo {
    margin-bottom: 0; }
  .footer .footer_text {
    margin-bottom: 0;
    max-width: 312px;
    font-size: 15px;
    font-family: "Fresca", sans-serif; }

/*# sourceMappingURL=style2.css.map */
