$contentBackground: #21232E;
$imageBackground: url("../img/m-h-night.jpg");
$textColor: #fff;
$highlightColor: #FF4E33;
$logoText: 'Fresca', sans-serif;
$button-join-color: #E3AC00;
$cardBackground: #3B3F50;
$sectionText: #fff;
$bannerGradient: linear-gradient(to right, rgba(224,165,4,1) 0%, rgba(151,52,77,1) 100%);
