$contentBackground: #fff;
$imageBackground: url("../img/m-h-day.jpg");
$textColor: #33304D;
$highlightColor: #14A0C7;
$logoText: 'Hind', sans-serif;
$button-join-color: #699900;
$cardBackground: #21232E;
$sectionText: #2C2F3C;
$bannerGradient: linear-gradient(to right, rgba(103,152,5,1) 0%, rgba(48,93,206,1) 100%);
